<%- include('../partials/header.ejs')%>
    <div class="content">
        <%if(events.length){%>
            <%if(Homework.length){%>
                <h2 class="clubby"><u>Homework</u></h2>
                <ul class="listStyling">
                    <%Homework.forEach(event=>{%>
                        <li><a href="/events/<%= event.id%>">
                                <div class="clubEvent">
                                    <%=event.title%>
                                </div>
                            </a></li><br>
                        <%})%>
                </ul>
                <%}%>
                    <%if(Work.length){%>
                        <h2 class="clubby"><u>Work</u></h2>
                        <ul class="listStyling">
                            <%Work.forEach(event=>{%>
                                <li><a href="/events/<%= event.id%>">
                                        <div class="clubEvent">
                                            <%=event.title%>
                                        </div>
                                    </a></li><br>
                                <%})%>
                        </ul>
                        <%}%>
                            <%if(Clubs.length){%>
                                <h2 class="clubby"><u>Clubs</u></h2>
                                <ul class="listStyling">
                                    <%Clubs.forEach(event=>{%>
                                        <li><a href="/events/<%= event.id%>">
                                                <div class="clubEvent">
                                                    <%=event.title%>
                                                </div>
                                            </a></li>
                                        <br>
                                        <%})%>
                                </ul>
                                <%}%>
                                    <%if(Outings.length){%>
                                        <h2 class="clubby"><u>Outings</u></h2>
                                        <ul class="listingStyle">
                                            <%Outings.forEach(event=>{%>
                                                <li><a href="/events/<%= event.id%>">
                                                        <div class="clubEvent">
                                                            <%=event.title%>
                                                        </div>
                                                    </a></li><br>

                                                <%})%>
                                        </ul>
                                        <%}%>
                                            <%if(Other.length){%>
                                                <h2 class="clubby"><u>Other</u></h2>
                                                <ul class="listingStyle">
                                                    <%Other.forEach(event=>{%>
                                                        <li><a href="/events/<%= event.id%>">
                                                                <div class="clubEvent">
                                                                    <%=event.title%>
                                                                </div>
                                                            </a></li><br>
                                                        <%})%>
                                                </ul>
                                                <%}%>
                                                    <%}else{%>
                                                        <p id="centerText">There are no
                                                            events to display.</p>
                                                        <%}%>


    </div>
    <%- include('../partials/footer.ejs')%>